
    <html>
    <head>
    <title>authorization-policy</title>
        {% load static %}
    <link href="{% static 'css/bootstrap.css'%}" rel="stylesheet" type="text/css" media="all">
    <link href="{% static 'css/style.css'%}" rel="stylesheet" type="text/css" media="all" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Oil&Gas Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
    Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,300,700,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/flexslider.css'%}" type="text/css" media="screen" />
    <script src="{% static 'js/jquery.min.js'%}"></script>
    </head>
    <style>
    .dropbtn {
      background-color: #ff7200;
      color: white;
      padding: 16px;
      font-size: 16px;
      border: none;
    }

    .dropdown {
      position: relative;
      display: inline-block;
      margin-left:30px;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f1f1f1;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }

    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }

    .dropdown-content a:hover {background-color: #ddd;}

    .dropdown:hover .dropdown-content {display: block;}

    .dropdown:hover .dropbtn {background-color: #3e8e41;}
    </style>
    <body>
    <!-- header -->
        <div class="header">
            <div class="container">
                <div class="header-top">

                    <h1 style="text-align:center;font-weight:bold;">Endorsement Guideline Protocol Actuality Problem</h1>
                        <div class="clearfix"> </div>
                </div>
            </div>
        </div>
                <div class="header-bottom">
                    <div class="container">

                        <div class="head-nav">
                            <span class="menu"> </span>
                               <ul>
								<li class="active"><a href="{% url 'employee_index' %}">Home</a></li>
                                <div class="dropdown">
                                <button class="dropbtn">LOGIN</button>
                                 <div class="dropdown-content">
                                     <a href="{% url 'employee_login' %}">Employee</a>
                                     <a href="{% url 'managing_director' %}">Managing Director</a>
                                     <a href="{% url 'projectadmin_login' %}">Admin</a>
                                 </div>
                                </div>
                                <div class="dropdown">
                                <button class="dropbtn">ABOUT US</button>
                                 <div class="dropdown-content">
                                     <a href="{% url 'growth_story'%}">Growth Story</a>
                                     <a href="{% url 'history'%}">History</a>
                                     <a href="{% url 'board_of_directors'%}">Board Of Directors</a>
                                     <a href="{% url 'material_management'%}">Materials Management</a>
                                 </div>
                                </div>
                                <div class="dropdown">
                                <button class="dropbtn">SUSTAINABILITY</button>
                                 <div class="dropdown-content">
                                     <a href="{% url 'health_safety'%}">Health and Safety</a>
                                     <a href="{% url 'environment'%}">Environment</a>
                                     <a href="{% url 'carbon_management'%}">Carbon Management</a>
                                     <a href="{% url 'energy_center'%}">Energy Center</a>
                                 </div>
                                </div>
								<div class="dropdown">
                                <button class="dropbtn">INVESTORS</button>
                                 <div class="dropdown-content">
                                     <a href="{% url 'notices'%}">Notices</a>
                                     <a href="{% url 'policies'%}">Policies</a>

                                 </div>
                                </div>
								<div class="dropdown">
                                <button class="dropbtn">MEDIA</button>
                                 <div class="dropdown-content">
                                     <a href="{% url 'press_release'%}">Press Release</a>

                                 </div>
                                </div>


								<div class="clearfix"> </div>
						    </ul>
                        </div>
                            <div class="clearfix"> </div>
                            <!-- script-for-nav -->
                        <script>
                            $( "span.menu" ).click(function() {
                              $( ".head-nav ul" ).slideToggle(300, function() {
                                // Animation complete.
                              });
                            });
                        </script>
                    <!-- script-for-nav -->
                    </div>
                </div>
        <div class="banner-1">
            <div class="container">
            </div>
        </div>
    <div class="main">
            <div class="container">
                <h2>Notices</h2>



                        </div>

                        <div class="clearfix" > </div>
                            <p style="text-align:justify;text-indent:2px;margin:0px 100px 0px 100px;line-height:30px;">
                               Pursuant to Regulation 47 read with Regulation 29 of the SEBI (Listing
Obligations and Disclosure Requirements) Regulations, 2015, notice is
hereby given that a meeting of the Board of Directors of the Company
is scheduled to be held on Friday, the 13th
 November, 2020, inter-alia,
to consider and approve Unaudited Financial Results of the Company
for the Quarter and Half year ended 30th September, 2020.
Pursuant to the provisions of SEBI (Prohibition of Insider Trading)
Regulations, 2015 read with amendment thereto ("Regulations") and the
Company's Policy under the said Regulations, Trading Window, shall
remain closed till Sunday, 15th November, 2020, for the Insider, as
informed as per Annual Plan for closure of Trading Window intimation to
stock exchanges vide communication dated 23.03.2020.
This notice is also available on the website of Company at
www.ongcindia.com and on the website of the Stock Exchanges
www.nse-india.com and www.bseindia.com.
New Delhi
05.11.2020
For Oil and Natural Gas C
                    <div class="clearfix"> </div>

            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <p>Endorsement Guideline Protocol Actuality Problem</p>
            </div>
        </div>
    <!-- footer-bottom -->
    </body>
    </html>